html{
    font-size: medium;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: fixed;
    overflow: hidden;
    background-color: #f1ecec;
    top: 0;
    width: 100%;

}
nav  ul{
    display: flex;
    list-style: none;
    align-items: center;
   
}

nav li{
    padding: 16px;
    color: grey;
    font-size:larger;

}
.logo{
    display: flex;
    align-items: center;
    font-size: 32px;
    padding-left: 24px;
    
}

.page1{
    display: flex;
    padding-top: 100px;
    padding-left: 32px;
    background-color: rgb(231, 229, 229);

}

.left img{
    width: 85%;
    padding-top: 32px;
}

.right{
    display: flex;
    flex: 4 16px;
    justify-content: center;
    flex-direction: column;
    padding-right: 70px;
}

.page1 button{
    color: white;
    background:rgb(48, 46, 46);
    justify-content: center;
    font-size: 200%;
}

.page1 h5{
    font-weight: 500;
    font-size: 200%;
}

.page1 h1{
    font-weight: bold;
    font-size: 300%;
}

.page2{
    display: flex;
    grid-template-columns: 3fr 2fr;
    padding: 32px 24px 32px 24px;
}

.page2left{
    padding-right: 24px;
}

.page2left-info{
    padding-top: 32px;
}

.page2left h2{
    font-weight: bold;
    padding-bottom: 24px;
}

.page2left p{
    font-size: large;
}

.page2left-img{
    width: 100%;
}

.page2right{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.orientation, .campus, .lecture{
    display: flex;
    border: solid gray;
}

.page2right a{
    text-decoration: none;
}

.page2right button{
    background: none;

}

.page2right img{
    padding: 16px 16px 16px 16px;
}

.page2right h4{
    font-size: x-large;
    font-weight: bold;
}

.page2right p{
    font-size: larger;
}

.orientation-info, .campus-info, .lecture-info{
    text-align: center;
    padding: auto;
    margin: auto;
   
    
}

.page3{
   padding: 72px;
   background-color: #f1ecec;
    
}
.page3 h1{
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}


.content_page3{
    display: grid;
    -ms-grid-column-align: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 32px;
    background-color: #f1ecec;
   
}
.learning img{
 width:100%;
}

 .learning{
    
    padding:32px ;
    display: flex;
    flex-direction: column;

}
.info{
    background-color: white;
    padding: 0 16px ;

}

.info p{
    padding-top: 8px;
    padding-bottom: 8px;
}


.content4{
    display: flex;
    grid-template-columns: 2fr 2fr;
    padding: 32px;
    
}



.page4-left {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.page4-right{
    padding: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.Fis, .TN {
    display: flex;
    padding: 16px;
    border: solid black;
}


.Fis-img, .TN-img{
 justify-content: center;
 padding: 16px;
}

.Fis-info, .TN-info{
   text-align: center;
    padding: 16px;
    margin: auto;
   }


   .page4-left h4{
    font-size: 50px;
    font-weight: bolder;
   }

   .head h1{
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

footer{
    padding: 16px 24px 16px 24px;
    justify-content: space-between;
    display: flex;

}

footer ul{
    display: flex;
    list-style: none;
    align-items: center;
    color: grey;

   
}

footer li{
    padding: 16px;
    color: grey;

}
